<div class="left">
  <img src="/holidays_sign.png" alt="holiday sign" width="600">
</div>
<div class="right" style="background-color: #AAA; width: 300px; height:450px; text-align: center; padding: 0 45px; box-sizing:border-box">
  <h4 style="color: red; text-decoration: underline;">Getting here:</h4>
  <p>
    Take 93 or 95 to 128
    Stay on 128 to the end.
    Left on 127
    to Bearskin Neck.
    Walk or drive to the 
    North Atlantic Ocean.
  </p>
  <p>
    We are the last building
    on the Neck
    before you get very wet.
  </p>
  <h4 style="color:red">77 Bearskin Neck <br>
Rockport, MA</h4>
</div>
<div class="clearfix"></div>
<div class="bio">
  <div class="left">
    <img src="/david_bio.png" alt="david portrait" width="300">
  </div>
  <div class="right" style="width:600px; height: 450px; padding: 40px; box-sizing: border-box; background-color: #bb3e45; color: white; border: 3px solid black;">
    <p>
      <span style="color: black;">David Corbeau</span>--artist, actor, and activist--welcomes you THIS SPRING to his new Gallery and Gift Shop
    </p>
    <p>
      Gallery Corbeau displays conceptual art that challenges the viewer to not only engage and question their perceptions, but to interact and participate directly with the installation. 
    </p>
    <p>
      Curious? Come visit in the Spring!
    </p>
    <p>
      The upcoming 2014 season will provoke participants to consider two major themes in the art and in their lives: Collapse vs Unity.
    </p>
  </div>
  <div class="clearfix"></div>
</div>