<form action="/posts" method="post">
  <input type="text" name="post[title]">
  <input type="text" name="post[author]" placeholder="Default is 'David'">
  <input type="date" name="post[posted_at]">
  <textarea name="post[body]" cols="30" rows="30" style="width:100%"></textarea>
  <input type="submit" value="Create post">
</form>