<img src="/gc_banner.png" alt="banner">

<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="/" style="font-size: 20px;">Details</a></li>
        <li><a href="/posts" style="font-size: 20px;">Revelations</a></li>
      </ul>
    </section>
  </nav>
</div>