<div class="header">
  <ul class="navbar">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/posts">Blog</a>
    </li>
    <% if session[:login] %>
      <li class="right">
        <a href="/logout">Logout</a>
      </li>
    <% end %>
  </ul>
</div>